<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <p>This application was brought to you by under utilized pto and frequent flier miles.  The components that make up this application follow.
                    	<ul>
                    		<li><a href="https://nodejs.org/">Node.js</a></li>
                    		<li><a href="http://expressjs.com">Express.js</a></li>
                    		<li><a href="https://jsforce.github.io/">JSForce</a></li>
                    		<li><a href="http://getbootstrap.com">Bootstrap</a></li>
                    	</ul>
                    </p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>